<div class="container__page">
  <div class="title-row">
    <h3 class="title">Products list</h3>
    @if (isVisible()) {
      <div class="delete">
        <span>{{ this.listProductsSelect().length }} Select</span>
      </div>
      <dialog-delete (productDelete)="onDeleteProducts()" />
    }
    <app-add-product (productAdded)="refresh()" />
  </div>
  @let products = products$ | async;
  @defer (when products?.length > 0) {
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th class="tb-head">
              <input type="checkbox" #mainCheckbox (click)="onCheckboxAll()" />
            </th>
            <th class="tb-head">Product Name</th>
            <th class="tb-head">Category</th>
            <th class="tb-head description">Description</th>
            <th class="tb-head">Price</th>
            <th class="tb-head">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (product of products; track product.id) {
            <tr>
              <td class="vertical-center">
                <input
                  type="checkbox"
                  [name]="product.name"
                  [value]="product.id"
                  #childrenCheckbox
                  (click)="onCheckbox(product)"
                />
              </td>
              <td class="product-name">
                <picture class="product-image">
                  <img [src]="product.image" [alt]="product.name" />
                </picture>
                <h5>{{ product.name }}</h5>
              </td>
              <td class="vertical-center">
                <span>{{ product.category }}</span>
              </td>
              <td>{{ product.description }}</td>
              <td class="vertical-center">
                <span>${{ product.price }}</span>
              </td>
              <td>
                <app-edit-product
                  [product]="product"
                  (productEdit)="refresh()"
                />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @placeholder (minimum 1s) {
    <h1>Loading...</h1>
  }
</div>
