.line {
  position: relative;
  width: var(--width-lines);
  height: 2px;
  background-color: #000;
  margin-inline: calc(var(--p-title) * -1);

  &::after {
    content: '';
    position: absolute;

    top: 10px;
    width: .9375rem;
    height: 2px;
    background-color: #000;
  }
}

.right::after {
  right: 0;
}
.left::after {
  left: 0;

}


@media (width <= 650px) {
  .title {
    --txt-size: 2rem
  }
}

