<div class="wrapper">
  <div class="posts">
    <div class="column">
      <a href="/" class="logo">
        <svg
          width="1em"
          heigth="1em"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 227 50"
        >
          <path
            fill="#111"
            d="m30.499 50 18.89-45.172-16.221-3.764-9.308 31.689L17.768 1.2.59 4.897 15.852 50h14.647Zm61.64-.41.89-49.348-42.23.411 4.244 48.594 37.096.342ZM65.719 34.6l1.096-20.258 11.635.684-.753 19.232-11.977.342Zm68.485 14.51-2.122-19.369-7.528.48-.48 5.2-10.882 1.849L130.645 14l.068-12.662h-30.73l-2.67 18.342 11.636-1.78V14l9.034-2.122-20.327 23.886-.343 13.346h36.89Zm39.875 0-2.122-19.369-7.528.48-.48 5.2-10.882 1.849L170.52 14l.069-12.662h-30.731l-2.67 18.342 11.636-1.78V14l9.034-2.122-20.327 23.886-.342 13.346h36.89Zm18.18.342 14.988-.342-.205-19.574 19.437-22.997L210.26.995l-9.993 17.795-10.54-17.179-14.99 5.955 17.522 21.49v20.396Z"
          ></path>
        </svg>
      </a>
      <div class="socials">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem
          ipsum dolor sit amet.
        </p>
        <app-social svg-black />
      </div>
    </div>
    <div class="column">
      <h3 class="title">Tags</h3>
      <div class="tags">
        <button class="tag">Wild</button>
        <button class="tag">Sketch</button>

        <button class="tag">Hero</button>
        <button class="tag">Happy</button>
        <button class="tag">Creative</button>
        <button class="tag">Child</button>
      </div>
    </div>
    <div class="column">
      <h3 class="title">Recent Posts</h3>
      <div class="post-list">
        <article class="post">
          <picture class="small-image">
            <img src="/post1.webp" alt="Image" />
          </picture>
          <div class="info">
            <h4 class="title">What We Think, We Become</h4>
            <div class="meta-date">
              <svg
                width="1em"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 64 64"
              >
                <path
                  d="M30 4C14.561 4 2 16.561 2 32s12.561 28 28 28h3c15.439 0 28-12.561 28-28S48.439 4 33 4h-3zm3 4c13.233 0 24 10.766 24 24S46.233 56 33 56 9 45.234 9 32 19.767 8 33 8zm1 7-5 20h19v-8H35l3-12h-4z"
                ></path>
              </svg>
              <p class="date">June 30, 2022</p>
            </div>
          </div>
        </article>
        <article class="post">
          <picture class="small-image">
            <img src="/post2.webp" alt="Image" />
          </picture>
          <div class="info">
            <h4 class="title">What We Think, We Become</h4>
            <div class="meta-date">
              <svg
                width="1em"
                height="1em"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 64 64"
              >
                <path
                  d="M30 4C14.561 4 2 16.561 2 32s12.561 28 28 28h3c15.439 0 28-12.561 28-28S48.439 4 33 4h-3zm3 4c13.233 0 24 10.766 24 24S46.233 56 33 56 9 45.234 9 32 19.767 8 33 8zm1 7-5 20h19v-8H35l3-12h-4z"
                ></path>
              </svg>
              <p class="date">June 30, 2022</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
